body{
    background-color: black;
    color:white;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center ;
    background-color: black;
    width:100%;
    margin:0px;
}
.logo{
    color:lime;
}


.info{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}
.grid-container{
    display:grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 80px;
}
.Contact{
    background-color: lime;
}
.detail{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}
.grid-container2{
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto  auto auto auto;
}
.grid-item{
    padding: 25px;
}
.grid-container3{
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto  auto auto auto;
}
.nearly{
    display:inline;
    justify-content: flex-start;
  }
  .Finale{
    border: 2px;
    border-style: solid;
    margin: 70px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  .Footfetish{
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  .Final{
    display:flex;
    justify-content:space-between ;
    align-items: center;
  }
  ul{
    display: inline-flex;
    justify-content: left;
    align-items: flex-end;
    padding: 20px;
  }
  
